
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 70px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body{
  overflow-x: hidden;
  font-family: europa;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: #ffffff;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #0a192f;
  color: white;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(3)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    background-color: #0a192f;
  }
}


/* header + * {
  margin-top: var(--header-height);
} */


#hero{
  height: 90vh;
  padding: 0;
  margin: 0;
  background-image: url(../images/shoot.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.scroll h4 {
  font-size: 3.8em;
  text-align: center;
  color: #0a192f;
padding-top: 1em;
font-weight: bold;
}
 .scroll p
{
  font-family: europa;
font-size: 1.52em;
line-height: 1.3em;
letter-spacing: 0.01em;
text-align: justify;
margin-left: 10%;
padding-top: 1.5em;
color: #0a192f;
margin-right: 10%;
text-align: left;
font-weight: normal;
}
.scroll h5 {
  font-size: 1.5em;
  margin-bottom: -0.6em;
  color: #0a192f;
  text-align: center;
}
#measure{
  text-align: center;
  margin-top: -1em;
  color: #0a192f;
}
*{
  box-sizing: border-box;
  margin: 0;
}
  