@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 85px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0
}
a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #000000;
  color :#000000;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > a:first-child {
  font-size: 2em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1.7em;
}

header nav ul li a { 
  text-transform: uppercase;
}

header + * {
  margin-top: var(--header-height);
}

header nav > button#mobile-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.5em;
  display: none;
  color: white;
}

@media screen and (max-width: 750px) {
  header nav > button#mobile-icon {
    display: block;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: var(--header-height);
    padding: 5px;
    width: 200px;
    text-align: center;
    right: 10px;
    background: #000000
  }

  header nav ul li {
    margin: 1.2em 0 !important;
    display: block;
    text-align: center;;
  }

  header nav ul.active {
    display: block;
  }
}
body{
  text-align: center;
  background-color: #ffffff;
}
label{
  font-weight: normal;
  font-size: 1.0em;
  font-weight: bolder;
  margin-left: 12px;
}
button {
  height: 44px;
  width: 15%;
  color: #ffffff;
  background-color: #000000;
  font-size: 15px;
}
#bookme h3{
  font-size: 30px;
}
input[type=text],input[type=date],textarea{
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.0em;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
*:focus{
  outline: 0;
}
.container{
  padding: 12px 24px 24px 24px;
  margin: 48px 12px;
  border-radius: 4px;
  text-align: left;
}
input[type=text]:focus, input[type=submit]:focus, input[type=date]:focus, textarea:focus {
  border: 1px solid black;
  
}
input[type=submit] {
  background: #fff;
  margin: 0 auto;
  outline: 0 ;
  color: #fff;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}
input[type=submit]  :focus {
background: #a5d6a7;
color: whitesmoke;
}
.wrapper {
  display: inline-flex;
     justify-content: center;
   }
   .wrapper i {
      padding: 5px; 
      font-size: 25px;
      transition: all ease-in-out 150ms;
      margin-right: 10px;
      right: 10px;
      }
   .wrapper a:nth-child(3) {
   color: #ffffff;
  }
   .wrapper a:nth-child(2) { 
 color: #ffffff;
  }
   .wrapper a:nth-child(1) { 
      color: #ffffff;
  }
   .wrapper i:hover {
    margin-top: -3px; 
   text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    }  
 
 