@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 85px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0
}
a {
  text-decoration: none;
  color: #ffffff;
}


header{
  background: #ffffff;
  color :#000000;
  height: 4em;
  position: fixed;
  width: 100%;
  z-index: 9;
  margin-bottom: -2em;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;

}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}




/* header + * {
  margin-top: var(--header-height);
} */
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  width: 100vw;
  margin:0;
}
a {
  text-decoration: none;
  color: #000000;
  display: block;
}
header{
  background: #ffffff;
  color :#000000;
  height: 6em;
  position: fixed;
  width: 100%;
  z-index: 9;
  margin-bottom: -2em;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;

}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}




/* header + * {
  margin-top: var(--header-height);
} */
#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 3.95px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0a192f;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 200vw;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);  }
}
#menuToggle h6 {
  font-size: 0.8em;
  font-weight: light;
}


#hero {
  background-image:url(../images/neww.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 900px;
  margin-top: -2em;
  background-color: #ffffff;
  position: relative;
  text-align: left;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}
#hero img{
  background-position: right;
  height: 38.3em;
  width: 65%;
  position: relative;
  margin-top:10.5em;
  border-radius: 2%;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  transform: translateX(70%);
  
}
   @media screen and (max-width: 950px) {
    #hero {
      margin-bottom: -5em;
       }
     }
#menu li img {
  margin-left: -0.9em;
  margin-right: 1.5em;
  
}
hr{
  margin-bottom: 1em;
  margin-top: -1em;
  width: 200vw;
}

label{
  font-size: 1.2em;
  font-weight: normal;
  margin-left: 12px;
}
#submit {
  height: 3em;
  width: 35%;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
 #contact .container1 img  {
   width: 50%;
   margin-left: 30%;
}
#contact {
display: -ms-flexbox;
display: flex;
margin: 0;
transform: translateX(5%);
padding-top: 2em;
border: 0;
justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  #contact {
    transform: translateX(-4%);
    display: grid;
  }
}
@media screen and (max-width: 1200px) {
  #contact .container2 #submit {
   width: 43%;
  }
}
@media screen and (max-width: 1200px) {
  #contact .container2 {
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 4em;
  }
}
 h3 {
  font-size: 3em;
  font-weight: lighter;
  color: #0a192f;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 20px;
  margin: 0;
}
 p{
  margin-top: -1em;
  font-size: 16px;
  padding: 0;
   color: #0a192f;
  text-align: center;
}

 .container2 {
  width: 50%;
  background-color:white;
  margin-right: 10%;
}

input[type=text], input[type=email],input[type=tel], textarea{
  width: 78%;
  padding: 10px;
  border-bottom: 1px solid #0a192f;
  font-size: 0.9em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
*:focus{
  outline: 0;

}
  
input[type=submit] {
  background: #0a192f;
  margin: 0 auto;
  outline: 0 ;
  color: #ffffff;
  border: 1px solid #0a192f;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
}
input[type=submit]  :focus {
background: #0a192f;
color: whitesmoke;
}
footer {
  margin-top: 10em;
  position: absolute;
  width: 100vw;
  
}

    .wrapper {
    text-align: center;
    background-color: #0a192f;
    padding-top: 20px;
  
  }
  footer .wrapper h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    margin-bottom: -0.3em;
   margin-top: 0em;
  }
  footer .copy{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 13px;
    font-family: 'Poppins', sans-serif;
  }
   .wrapper i {
      padding: 15px; 
      font-size: 25px;
      transition: all ease-in-out 150ms;
      margin-right: 10px;
      right: 10px;
      }
      .wrapper a:hover:after { 
        width: 0; 
        left: 0; 
      }
   .wrapper a:nth-child(3) {
   color: #ffffff;
  }
   .wrapper a:nth-child(2) { 
 color: #ffffff;
  }
   .wrapper a:nth-child(1) { 
      color: #ffffff;
  }
   .wrapper i:hover {
    margin-top: -3px; 
   text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    } 
