@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 85px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
}

body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0
}
a {
  text-decoration: none;
  color: #ffffff;
}


header{
  background: #000000;
  color :#ffffff;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > a:first-child {
  font-size: 2em;
  letter-spacing: 0.1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1.7em;
}

header nav ul li a { 
  text-transform: uppercase;
}

header + * {
  margin-top: var(--header-height);
}

header nav > button#mobile-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.5em;
  display: none;
  color: white;
}

@media screen and (max-width: 750px) {
  header nav > button#mobile-icon {
    display: block;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: var(--header-height);
    padding: 5px;
    width: 200px;
    text-align: center;
    right: 10px;
    background: #000000;
  }

  header nav ul li {
    margin: 1.2em 0 !important;
    display: block;
    text-align: center;;
  }

  header nav ul.active {
    display: block;
  }
}

label{
  font-size: 1.2em;
  font-weight: normal;
  margin-left: 12px;
}
#submit {
  height: 3em;
  width: 35%;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}
 #contact .container1 img  {
   width: 50%;
   margin-left: 30%;
}
#contact {
display: -ms-flexbox;
display: flex;
margin: 0;
transform: translateX(5%);
padding-top: 2em;
border: 0;
justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  #contact {
    transform: translateX(-4%);
    display: grid;
  }
}
@media screen and (max-width: 1200px) {
  #contact .container2 #submit {
   width: 43%;
  }
}
@media screen and (max-width: 1200px) {
  #contact .container2 {
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 4em;
  }
}
 h3 {
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 20px;
  margin: 0;
}
 p{
  margin-top: -1em;
  font-size: 16px;
  padding: 0;
  text-align: center;
}

 .container2 {
  width: 50%;
  background-color:white;
  margin-right: 10%;
}

input[type=text], input[type=email],input[type=tel], textarea{
  width: 78%;
  padding: 10px;
  border-bottom: 1px solid #000000;
  font-size: 0.9em;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
*:focus{
  outline: 0;

}
  
input[type=submit] {
  background: #000000;
  margin: 0 auto;
  outline: 0 ;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
}
input[type=submit]  :focus {
background: #000000;
color: whitesmoke;
}
footer {
  margin-top: 10em;
  position: absolute;
  width: 100vw;
  
}

    .wrapper {
    text-align: center;
    background-color: black;
    padding-top: 20px;
  
  }
  footer .wrapper h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    margin-bottom: -0.3em;
   margin-top: 0em;
  }
  footer .copy{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 13px;
    font-family: 'Poppins', sans-serif;
  }
   .wrapper i {
      padding: 15px; 
      font-size: 25px;
      transition: all ease-in-out 150ms;
      margin-right: 10px;
      right: 10px;
      }
      .wrapper a:hover:after { 
        width: 0; 
        left: 0; 
      }
   .wrapper a:nth-child(3) {
   color: #ffffff;
  }
   .wrapper a:nth-child(2) { 
 color: #ffffff;
  }
   .wrapper a:nth-child(1) { 
      color: #ffffff;
  }
   .wrapper i:hover {
    margin-top: -3px; 
   text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    } 
