@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 70px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
}

body{
  overflow-x: hidden;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: #0a192f;
}
a {
  text-decoration: none;
  color:#ccd6f6;
}


header{
  background: #0a192f;
  color :#ffffff;
  height: var(--header-height);
  position: fixed;
  border: 1px solid #0a192f;
  border-top: hidden;
  border-left: hidden;
border-right: hidden;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > a:first-child {
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: #64ffda;
  font-family: 'Open Sans', sans-serif;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1.7em;
}

header nav ul li a { 
  text-transform: uppercase;
}

header + * {
  margin-top: var(--header-height);
}

header nav > button#mobile-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.7em;
  display: none;
  color: #ccd6f6;
}

@media screen and (max-width: 2050px) {
  header nav > button#mobile-icon {
    display: block;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: var(--header-height);
    padding: 5px;
    width: 200px;
    text-align: center;
    right: 10px;
    background: #0a192f;
  }

  header nav ul li {
    margin: 1.2em 0 !important;
    display: block;
    text-align: center;;
  }

  header nav ul.active {
    display: block;
  }
}

main
{
  margin-top: var(--header-height) 
}

#hero
{
  display: flex;
  margin: 0 auto;
  padding: 5em 0;
  text-align: left;
  width: 80vw;
  color: #ccd6f6;
  top: 40%;
  margin-top: -2em;
  left: 0;
  padding-left: calc(var(--content-padding) + 1em);
  transform: translateY(-10%);
}
#hero .thumb1 img{
  width: 270px;
  margin-left: 5em;
  margin-top: 65%;

}
#hero .text {
  width: 80vw;
  color: #ccd6f6;
}
#hero h4 {
  font-size: 2.0em;
  font-weight: bolder;
  line-height: 1.2;
  margin-top: 3em;
  color: #ccd6f6;
  margin-bottom: 1.5em;
}

#hero p
{
  color: #ccd6f6;
  width: 80%;
  font-size: 1.3em;
  font-weight: normal;
}
 #touch a 
{
font-size: 1.3em;
letter-spacing: 0.01em;
color: #ccd6f6;
}

#hero a {
  font-size: 1.0em;
  text-decoration:underline;
  color: #64ffda;
}

#skills {
  color: #64ffda;
  width: 78vw;
  margin: auto;
  padding-top: 8em;
}

#skills h2{
  font-size: 50px;
  text-align: center;
}

#skills ul {
  list-style: none;
  margin: 0;
  color: #ccd6f6;
  padding: 0;
justify-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 2fr) );
}

#skills ul li {
  text-align: center;
  display: grid;
  place-items: center;
}

#skills ul li i {
  font-size: 5em;
  color: #64ffda;
}

#skills ul li h4 {
  margin: 0;
  margin-top: .3em;
}

#about {
  display: grid;
  grid-template-columns: minmax(120px, 150px) 2fr;
  align-items: flex-start;
  width: 77vw;
  margin: auto;
}
@media screen and (max-width: 250px) {
  #about {
    display: grid;
  }
}


#about  p {
  font-size: 1.4em;
  color: #ccd6f6;
  font-weight: bold;
  margin: 0;
}

#about .content p {
  margin: 0;
  font-weight: normal;
  color: #ccd6f6;
  font-size: 1.3em;
  margin-bottom: 1em;
}

#contact {
  margin-top: 5em;
  text-align: center;
  display: grid;
  place-items: center;
}

#contact h3
{
  font-size: 2.5em;
  color: #ccd6f6;
  margin-bottom: 0.5em;
}

#contact p 
{
  font-size: 1.2em;
  margin-top: -0.5em;
  color: #ccd6f6;
  font-weight: normal;
}

#contact a
{
  text-decoration: underline;
  color: #64ffda;
}

#contact i
{
  font-size: 2em;
  padding: 0.6em;
}
#contact .hello i{
  color: #ccd6f6;
}