@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 85px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}

img {
  max-width: 100%;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}


*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  line-height: 1.5;
  padding: 0;
  width: 100vw;
  margin:0;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 34px 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #0a192f;
  color: white;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(2)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    color: #ffffff;
    display: block;
    background-color: #0a192f;
  }
}

#picmenu {
  padding: 1.5em;
}

#picmenu .container {
  column-width: 300px;
  gap: 1.5em;
  break-inside: avoid;
  display: block;
}

#picmenu .container div::after {
  content: ' ';
  display: block;
  height: 1.5em;
} 

 /*#picmenu .container div img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); 
  cursor: pointer;
}


#picmenu .container div  img:hover {
  transition: filter .3s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
} */
footer {
  margin-top: 5.3em;
}
.footer a{
  display: block;
}

    .wrapper {
    text-align: center;
    background-color: #0a192f;
    padding-top: 20px;
  
  }
  footer .wrapper h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    margin-bottom: -0.3em;
   margin-top: 0em;
  }
  footer .copy{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 13px;
    font-family: 'Poppins', sans-serif;
  }
   .wrapper i {
      padding: 15px; 
      font-size: 25px;
      transition: all ease-in-out 150ms;
      margin-right: 10px;
      right: 10px;
      }
      .wrapper a:hover:after { 
        width: 0; 
        left: 0; 
      }
   .wrapper a:nth-child(3) {
   color: #ffffff;
  }
   .wrapper a:nth-child(2) { 
 color: #ffffff;
  }
   .wrapper a:nth-child(1) { 
      color: #ffffff;
  }
   .wrapper i:hover {
    margin-top: -3px; 
   text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    } 
 