@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 70px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
  background-color: #ffffff;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #0a192f;
  color: white;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    background-color: #0a192f;
  }
}
 

/* header + * {
  margin-top: var(--header-height);
} */

  #hero__content {
    position: relative;
    height: 850px;
    background-image: url(../images/new2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
    text-align: center;
    margin-top: 0em;
    background-position: center;

  }

  #hero__content .content {
    padding-top: 27em;
    margin-top: -15em;
    height: 592px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: #f1f1f1;
  
  }

#hero__content h1 {
  text-align: center;
  font-size: 9em;
  font-weight: 600;
  line-height: 1em; 
  margin: 0;

  color:#ffffff;
}

#hero__content p {
  font-size: 30px;
  color:#ffffff;
  font-weight:550;
  text-align: center;
}

 
.content #btn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  padding: 0 1em;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  transform: translateX(0%);
  color:#0a192f;
  background: #ffffff;
  font-weight: bold;
  border: 1px solid   #0a192f;
}
#hero__content button a {
  display: block;
}

@media screen and (max-width: 710px) {
  #hero__content .content {
    background-position: top;
  }
  #hero__content .content {
    transform: none;
  }

  
  #hero__content .content h1 {
    font-size: 7em;
    
  }
  
  #hero__content .content p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 535px) {
  #hero__content .content {
    background-position: top;
  }
  #hero__content .content {
    transform: none;
  
  }

  
  #hero__content .content h1 {
    font-size: 4.2em;
    
  }
  
  #hero__content .content p {
    font-size: 1em;
  }
}

.menu {
  position: fixed;
  width: 300px;
  top: 71%;
  left: 2%;
}
.menu a i {
  font-size: 27px;
  color:#ffffff;
  padding-bottom: 1.4em;
}
@media screen and (max-width: 750px) {
  .menu {
    left:2%;
    top: 71%;
  }
}
@media screen and (max-width: 750px) {
  .menu a i {
  padding-bottom: 1.2em;
  }
}

#phase-three h6 {
  text-align: center;
  color:#0a192f;
  margin-bottom: 5em;
}


#phase-three p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.75;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color:#0a192f;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin: 0;
}
#phase-three .container {
  width: 100vw;
}
#phase-three{
  margin-top:6em;
}



#foot{
  background-color:white;
  padding-top: 50px;
  text-align: center;
}
#foot h4 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 23px;
}
#foot h5 {
  font-family: 'Poppins', sans-serif;
  /*font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 20px;
}
#foot i{
  text-align: center;
  font-size: 22px;
}
