@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --header-height: 85px;
  --content-padding: 12em;
}

@media screen and (max-width: 1200px) {
  :root {
    --content-padding: 5em;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --content-padding: 3em;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-padding: 1.8em;
  }
}


html {
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin:0;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #000000;
  color :#000000;
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

header nav {
  padding: 0 var(--content-padding);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > a:first-child {
  font-size: 2em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-of-type) {
  margin-right: 1.7em;
}

header nav ul li a { 
  text-transform: uppercase;
}

header + * {
  margin-top: var(--header-height);
}

header nav > button#mobile-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.5em;
  display: none;
  color: white;
}

@media screen and (max-width: 750px) {
  header nav > button#mobile-icon {
    display: block;
  }

  header nav ul {
    display: none;
    position: absolute;
    top: var(--header-height);
    padding: 5px;
    width: 200px;
    text-align: center;
    right: 10px;
    background: #000000;
  }

  header nav ul li {
    margin: 1.2em 0 !important;
    display: block;
    text-align: center;;
  }

  header nav ul.active {
    display: block;
  }
}

#hero {
  height: 70vh;
  background-image: url('./bnw6.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 600px;
  background-color: #ffffff;
  position: relative;
  text-align: left;
}

#hero .hero__content {
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: calc(var(--content-padding) + 1em);
  transform: translateY(-50%);
}

#hero .hero__content h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .7em;
  color: #000
}

#hero .hero__content h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 1em; 
  margin: 0;
  text-transform: uppercase;
}

#hero .hero__content p {
  font-size: 1.3em;
  margin: 1.4em 0 1.2em;
}

#hero .hero__content button {
  cursor: pointer;
  height: 48px;
  padding: 0 3em;
  color: #000000;
  background: #000000;
  border: 1px solid #000;
}

@media screen and (max-width: 400px) {
  #hero {
    background-position: top;
    height: 100vh;
  }

  #hero .hero__content {
    bottom: 0;
    transform: none;
  }

  #hero .hero__content h3 {
    font-size: medium;
  }
  
  #hero .hero__content h1 {
    font-size: 2em;
  }

  #hero .hero__content p {
    font-size: .95em;
  }

  #hero .hero__content button {  
    height:  40px;
    padding: 0 2em;
    background-color: #000000;
  }
}

#phase-three h6 {
  text-align: center;
  margin-bottom: 5em;
}


#phase-three h6 span {
  font-size: 50px;
  font-family: "playfair Display", "sans-serif";
  font-style: italic;
  padding-bottom: 0px;
  font-weight: lighter ;
  line-height: 1.0;
  position: relative;
}

#phase-three h6 span::after {
  position:  absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  bottom: -0.3em;
  left: 0;
  background: #bbb;
}


#phase-three h6 span::before {
  z-index: 3;
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #aaa;
  border: 1px solid #aaa;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.45em;
}

#phase-three p {
  font-size: medium;
  font-family: "playfair Display", "sans-serif";
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  margin: 0;
}

#foot{
  background-color:white ;
  padding-top: 30px;
  text-align: center;
}
#foot h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
}
#foot h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
#foot i{
  text-align: center;
}

    .wrapper {
 display: inline-flex;
    justify-content: center;
  }
  .wrapper i {
     padding: 5px; 
     font-size: 25px;
     transition: all ease-in-out 150ms;
     margin-right: 10px;
     right: 10px;
     }
  .wrapper a:nth-child(3) {
  color: #ffffff;
 }
  .wrapper a:nth-child(2) { 
color: #ffffff;
 }
  .wrapper a:nth-child(1) { 
     color: #ffffff;
 }
  .wrapper i:hover {
   margin-top: -3px; 
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
   } 
